body {
	/*background-color: #2A4582;*/
	background-image: url("../images/background.png");
    /*background-repeat: repeat-y;*/
}

#container {
	margin-top: 70px;
	text-align: center;
}

#game {
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
}
